<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>
  <body>
    <div class="main-container">

    <div class="welcome-message">
      <h1>Welcome to the Dashboard ||<%- name %>|| </h1>
      <div class="user-info">
        <h1>My Cpi is :<%= cpi%> </h1>
        <h1>My Internship experience is :<%= Internexp%> </h1>
        <h1>My Intern Choice  is: <%= Internchoice%> </h1>

      </div>
    </div>



<div class="middle">
  <div class="dp">
    <img src="<%=image %>" alt="Please upload your Profile Pic" />
      <br>
  </div>
  <br>
  <div class="menu">
    <li class="item" id="profile">
<a href="#profile" class="btn"><i class="fas fa-user"></i>Profile</a>
<div class="smenu">
  <a href="/dashboard/upload">Upload your Resume</a>
  <a href="/dashboard/details">Enter your Details</a>
  <a href="/dashboard/uploadimg">Upload Your Profile Picture </a>
    <a href="/dashboard/download">Download Important Files  </a>
</div>
    </li>

    <li class="item" id="announce">
<a href="#announce" class="btn"><i class="fas fa-envelope"></i>Announcement</a>
<div class="smenu">
  <a href="/dashboard/announcement">Check For New </a>
</div>
    </li>
    <li class="item" id="settings">
<a href="#settings" class="btn"><i class="fas fa-cog"></i>Settings</a>
<div class="smenu">
  <a href="/dashboard/changepw">Change Password</a>
</div>
    </li>

    <li class="item">
      <a href="/logout" class="btn"><i class="fas fa-sign-out-alt"></i>Logout</a>
</li>
</div>
</div>
</div>


  </body>
</html>
